.table-antd{
    margin: 0 auto;
    border : 1px solid #ccc
}
.add-field{
    outline: none;
    border: none;
    background-color: rgb(8, 105, 209);
    color: white;
    padding: 15px 20px;
    margin-bottom: 15px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
}
.field-table-btn{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}
.add-field{
    background-color: rgb(16, 120, 231);
}